{% extends 'base.html.twig' %}

{% block title %}Refuge new{% endblock %}

{% block body %}
<h1>Nouveau refuge</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.address) }}
    <div class="mt-4 mb-4">
        <label>Sélectionner une plage de réservation</label>
        <div class="flex gap-1.5">
            <calendar-range id="reservationFromCalendar" class="cally bg-base-100 border border-base-300 shadow-lg rounded-box p-4">
                <calendar-month></calendar-month>
                <calendar-month offset="1"></calendar-month>
            </calendar-range>
        </div>
    </div>
    {{ form_row(form.reservations) }}

    <button type="submit"
        class="btn btn-primary mt-4">
        Créer
    </button>
{{ form_end(form) }}

{% endblock %}
